---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: "readability-identifier-naming"
CheckOptions:
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.FunctionCase: camelBack

  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.StaticConstantCase: UPPER_CASE
  readability-identifier-naming.ConstantCase: UPPER_CASE

  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase

  readability-identifier-naming.EnumConstantCase: UPPER_CASE
---

